.config/raycast
.bun/
.cache/
.claude/
.cups/
.expo/
.local/
.npm/
.nvm/
.oh-my-zsh/
.ssh/
Applications/
Desktop/
Documents/*
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.*
*.o
\#*#
*#
.#*
.*~
*~
