.config/raycast
.bun/
.cache/
.claude/
.cups/
.expo/
.local/
.npm/
.nvm/
.oh-my-zsh/
.ssh/
Applications/
Desktop/
Documents/*
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.*
*.o
\#*#
*#
.#*
.*~
*~
Motivewave Backup
OrbStack/
node_modules/
YTMusic_Deleter/
bun.lock
package.json
.config/zed
Keychron_Screen/
